h3
{
	text-align: left;
	color:yellow;
	font-size:1.3em;
	border-bottom:2px solid black;

}

h2 {
	background-color: rgb(161,165,20);
	color: rgb(255,253,59);
	height:35px;
	line-height:35px;
}



*
{
font-family:'amblebold'	
}

body
{
	display:flex;
	background-color:slategrey;
}



@font-face 
{
    font-family: 'amblebold';
    src: url('amble/Amble-Bold-webfont.eot');
    src: url('amble/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('amble/Amble-Bold-webfont.woff2') format('woff2'),
         url('amble/Amble-Bold-webfont.woff') format('woff'),
         url('amble/Amble-Bold-webfont.ttf') format('truetype'),
         url('amble/Amble-Bold-webfont.svg#amblebold') format('svg');
    font-weight: normal;
    font-style: normal;

}


#cercle
{
	display: inline-block;
    width: 168px;
  height: 168px;
  border-radius: 50%;
  overflow: hidden;
  margin:auto;
}

#photo_moi
{
	width:inherit;
	height:inherit;
	border-radius:inherit;
	position:relative;
	top:-20px;
}




#lisere
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
	width:15%;
	background-color:rgb(255,253,59);
	color:darkslategray;
	font-family:'amblebold';
	order:-1;
}
#lisere p
{
	padding:10px;
}



#contenu {
	display: flex;
	flex-direction: column;
}


header {
	text-align: center;
	border:3px dashed green;
	height:13%;
}


#corps {
	justify-content: space-between;
	color: white;
	
}


article
{
	flex:1;
	border:3px dotted blue;
	padding:10px;
	margin:3px;
}

@media all and (max-width: 1024px)
{
	#lisere
	{
		display:none;
	}

	#corps
	{
		flex-direction: column;
		position:absolute;
		left:0;
		width:auto;
	}



}

