/*------ Définition police ACME -------*/
@font-face {
	font-family: 'acme';
	src: url('acme/acme-regular-webfont-webfont.eot');
	src: url('acme/acme-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('acme/acme-regular-webfont-webfont.woff') format('woff'), url('acme/acme-regular-webfont-webfont.ttf') format('truetype'), url('acme/acme-regular-webfont-webfont.svg#webfontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*------ TOUTE LA PAGE -----(body = #lisere + #contenu)---*/

body {
	font-family: 'acme',Arial;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	/*align-items:stretch;*/
	color: rgb(66,66,66);
	background-color: rgba(255,253,231,1);
	font-size: 1.2em;
	text-align: left;
	height:215vh;
	
}


/*-------------PARTIE DROITE----(#contenu = header + #corps)--------*/

/*-------------ENTETE------------*/
h1 {	/*Mon nom en entête*/
	margin: 0;
	color: rgb(0,0,0);
}

header {
	display: flex;
	flex-direction: column;
	/*position:relative;
	left:33%;*/
	height: 5%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 2em;
	margin-top: 10%;
	margin-bottom: 5%;
	width:57%;
	order:1;
	}

h1 span { /*Mis en couleur de mon prénom*/
	color: rgb(255,234,0);
}

header p span { /*soulignées les 5 1res lettres de Développeuse*/
	border-bottom: 3px solid rgb(255,234,0);
}

header p {	/*Ma fonction*/
	margin: 0;
}

/*------CORPS DU CV -------------*/

#corps {
	display: flex;
	flex-direction: column;
	/*position: relative;
	left: 33%;
	top:45%;*/
	/*align-self:baseline;*/
	color: rgb(66,66,66);
	padding: 2%;
	padding-left: 5%;
	padding-right: 5%;
	width: 57%;
	height: 75%;
	/*align-self:flex-end;*/
	order:1;
	
}

h3 { /* Titres des sous-parties*/
	text-align: left;
	color: black;
	font-size: 1.8em;
	border-bottom: 3px solid rgb(255,234,0);
	text-transform: uppercase;
	line-height: 2.5em;
	vertical-align: middle;
	margin-bottom: 5%;
	}

h3 i {	/*Icones devant les sous-titres*/
	margin-right: 1em;
	color: rgb(255,234,0);
	font-size: 1.3em;
	}

.liste {	/*----1 ligne de puce--- (.liste = aside + article)---*/
	display: flex;
	margin-bottom: 20px;
}

aside {	/*--- Case gauche (avec puce) du développement ----*/
	width: 28%;
	margin-left: 1em;
	vertical-align: text-top;
}

article { /*--- Case droite du développement ----*/
	display: flex;
	width: 72%;
	flex-direction: column;
	padding-top: 0.2em;
	text-align: justify;
	hyphens: auto;
}

h4 {	/*Titres des articles (Diplomes / Fonctions du poste)*/
	margin: 0;
	font-weight: bold;
}

ul {	/*Suppression des puces*/
	margin: 0;
	padding-left: 1em;
	list-style: none;
}

.double:before { /*remplacement de la puce par double cercle plein _ 1re puce*/
	content: "\0025C9"; /*puce en forme de doucle cercle forme pleine*/
	color: rgb(255,234,0);
	display: inline-block;
	width: 1.7em;
	margin-left: -1.7em;
	font-size: 1.3em;
}

li:before { /*remplacement de la puce par cercle plein*/
	content: "\002B24"; /*puce en forme de cercle plein*/
	color: rgb(255,234,0);
	display: inline-block;
	width: 2em;
	margin-left: -2em;
}

#reco {	/*--Partie RECOMMANDATIONS--*/
	display: flex;
	
}

/*------PARTIE GAUCHE ------------ LISERÉ -------------------*/
#lisere {
	display: flex;
	flex-direction: column;
	/*position:absolute;*/
	text-align: center;
	width: 33%;
	background-color: rgb(255,234,0);
	color: rgb(66,66,66);
	/*order: -1;*/ /**/ /*Pour affichage du #liseré à gauche de #contenu*/
	height:98%;
}

#photo_moi {	/*--Ma photo--*/
	position: relative;
	top: -8px;
	left:-10px;
}

#cercle {	/*--Cercle pour la photo--*/
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	border: 4px solid rgba(0,0,0,0.1);
	margin-top:10%;
	margin-bottom:5%;
}

h2 { /*Titres bandeau dans liseré*/
	display: flex;
	background-color: rgb(66,66,66);
	color: rgb(255,234,0);
	height: 3%;
	align-items: center;
	justify-content: center;
	font-size: 1.8em;
}

#lisere p { /*Tous les paragraphes*/
	padding-left: 14%;
	padding-right: 14%;
}

.contact {	/* Textes de la partie CONTACT*/
	text-align: left;
}

.contact_dern { /* Dernier texte de la partie CONTACT*/
	text-align: left;
	margin-bottom: 5%;
}

#propos { /* Partie A PROPOS DE MOI*/
	margin-bottom: auto;
	align-self:stretch;
}


	#propos p { /* Textes de la partie A PROPOS DE MOI*/
		display: flex;
		text-align: justify;
		hyphens: auto;
		
	}

#loisirs{	/*Partie LOISIRS*/
	display:flex;
	justify-content:center;
	}

#lisere i { /*les icones loisirs*/
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: 3px solid rgb(66,66,66);
	padding: 1%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5%;
	margin-bottom: 5%;
	overflow: hidden;
}

/*----------------MEDIA QUERIES------site responsive------------------*/

/*@media all and (max-width: 992px)*/ /*Format tablette*/
/*{
	body {
		flex-direction: column;
	}

	header{
		display:flex;
	}

	#lisere {
		flex-direction: row;
		width: 100%;
		order: 0;
	}

	.sous_lisere {
		flex-direction: column;
		margin: 1%;
	}

	#contenu {
		width: 100%;
		display:none;
	}

	#corps
	{
		flex-direction: column;
		position:absolute;
		left:0;
		width:auto;
		order:1;
	}



}*/

